flask
jinja2
flask-wtf
wtforms
email-validator
flask-sqlalchemy
flask-migrate
bcrypt
flask-login
flask-jwt-extended
python-dotenv
gunicorn
loguru
pandas
pumpy
scikit-learn
matplotlib
seaborn
psycopg2-binary
pymysql